# ==============================
# Environment variables
# ==============================
.env
*.env
.env.*

# ==============================
# Python cache
# ==============================
__pycache__/
*.py[cod]
*$py.class

# ==============================
# Virtual environments
# ==============================
venv/
.venv/
env/
soil_env/
my_env/

# ==============================
# OS / Editor files
# ==============================
.DS_Store
Thumbs.db
.idea/
.vscode/

# ==============================
# Databases
# ==============================
*.sqlite3
db.sqlite3

# ==============================
# Cache / temp
# ==============================
.pytest_cache/
instance/
.cache/

# ==============================
# Jupyter
# ==============================
.ipynb_checkpoints/

# ==============================
# Logs
# ==============================
*.log

# ==============================
# Machine Learning models
# ==============================
*.pkl
*.h5
*.hdf5
*.joblib
*.pth

# ==============================
# Python build
# ==============================
build/
dist/
*.egg-info/

# ==============================
# TensorFlow / PyTorch files
# ==============================
*.ckpt
*.pb
*.pbtxt

# ==============================
# Datasets
# ==============================
Orignal-Dataset/
PlantDoc-Object-Detection-Dataset/
PlantVillage/

Crop_recommendation.csv
